#add-device .main-container {
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#add-device .content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  z-index: 3;
  background: rgba(255, 255, 255, 0.6);
  top: 50%;
  left: 50%;
  width: calc(100% - 66px);
  max-width: 1400px;
  overflow: auto;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

#add-device .not-paired-devices-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#add-device .not-paired-device-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
