#add-device .main-container {
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#add-device .content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  z-index: 3;
  background: rgba(255, 255, 255, 0.6);
  top: 50%;
  left: 50%;
  width: calc(100% - 66px);
  max-height: calc(100% - 66px);
  max-width: 1400px;
  overflow: auto;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  color: #000000;
}

#add-device .searching::after {
  content: ".";
  animation: dots 2s steps(3, end) infinite;
}

@keyframes dots {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

#add-device .not-paired-devices-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#add-device .not-paired-device-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-device .name-container {
  font-size: 16pt;
}
