#devices {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#devices .device-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

#devices .name-settings-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-grow: 1;
}

#devices .name-status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#devices .status-container {
  font-size: 12pt;
}
