#device-settings .main-container {
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#device-settings .content-container {
  display: flex;
  position: fixed;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(200%) blur(20px);
  left: 50%;
  width: calc(100% - 64px);
  max-width: 1400px;
  overflow: auto;
  padding: 16px;
  border-radius: 4px;
  top: 16px;
  bottom: 16px;
  transform: translateX(-50%);
  margin-top: 52px;
}

#device-settings .settings-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#device-settings .custom-name-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#device-settings .settings-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

#device-settings .buttons-container {
  display: flex;
  gap: 16px;
}

#device-settings .full-width {
  width: 100%;
}
