* {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
  color: white;
}

.material-symbols-outlined {
  font-size: 20pt;
}

html,
body,
#root {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  margin: 0%;
  overflow: auto;
  animation: colorCycle 20s infinite;
  animation-timing-function: linear;
}

/* https://www.canva.com/colors/color-palettes/ */
@keyframes colorCycle {
  0% {
    background-color: #ff8370;
  }
  25% {
    background-color: #00b1b0;
  }
  50% {
    background-color: #fec84d;
  }
  75% {
    background-color: #e42256;
  }
  100% {
    background-color: #ff8370;
  }
}

img {
  display: block;
}

button,
input {
  background-image: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: 20pt;
  overflow: visible;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 18pt;
}

button {
  display: flex;
  flex-grow: 1;
  background-color: #000000;
  border: 1px solid #000000;
  box-shadow: #ffffff 4px 4px 0 0, #000000 4px 4px 0 1px;
  color: #ffffff;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

.button-secondary {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: #000000 4px 4px 0 0, #ffffff 4px 4px 0 1px;
}

.button-secondary * {
  color: #000000;
}

input {
  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: #000000 4px 4px 0 0, #000000 4px 4px 0 1px;
  color: #000000;
}

button:focus,
input:focus {
  text-decoration: none;
}

button:hover,
input:hover {
  text-decoration: none;
}

button:active,
input:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow: #ffffff 2px 2px 0 0, #000000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

input:not([disabled]):active,
.button-secondary:not([disabled]):active {
  box-shadow: #000000 2px 2px 0 0, #ffffff 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

button[disabled],
input[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;
  max-width: 1400px;
  padding-top: 32px;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 52px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.item-row {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.volume-buttons-container {
  display: flex;
  gap: 16px;
}
