#header {
  display: flex;
  z-index: 1;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #000000;
  height: 52px;
  justify-content: space-between;
}

#header .header-name-container {
  margin-bottom: 2px;
  font-size: 14pt;
}

#header .logo-container {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
}

#header .refresh-icon-container {
  padding: 4px 8px 4px 8px;
  margin-right: 4px;
  font-size: 12pt;
  cursor: pointer;
}
