#header {
  display: flex;
  z-index: 1;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #000000;
  height: 52px;
}

.header-name-container {
  margin-bottom: 2px;
  font-size: 14pt;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
}
